.DS_Store
*-debug.log
*-error.log
/coverage
/bin
/dist
/build
/lib
/tmp
/node_modules
!.pnp.*
.yarn/*
!.yarn/unplugged
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.pnp.cjs
